Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=1
WorkingDirectory=/home/1/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target

